<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>id</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.441243986243-gaq25a4d4nris488iuokh4pfqqtop4if</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>441243986243-gaq25a4d4nris488iuokh4pfqqtop4if.apps.googleusercontent.com</string>
	<key>GIDServerClientID</key>
	<string>441243986243-ks2t66rum6ee4nq1k62mnn68gauth5q1.apps.googleusercontent.com</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to your photo library to select receipt images for scanning.</string>
</dict>
</plist>
