<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
        "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CADisableMinimumFrameDurationOnPhone</key>
        <true />
        <key>CFBundleLocalizations</key>
        <array>
            <string>en</string>
            <string>id</string>
        </array>
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>com.googleusercontent.apps.441243986243-gaq25a4d4nris488iuokh4pfqqtop4if</string>
                </array>
            </dict>
        </array>
        <key>CFBundleVersion</key>
        <string>1</string>
        <key>GIDClientID</key>
        <string>441243986243-gaq25a4d4nris488iuokh4pfqqtop4if.apps.googleusercontent.com</string>
        <key>NSCameraUsageDescription</key>
        <string>Camera access required for taking photos</string>
        <key>NSPhotoLibraryAddUsageDescription</key>
        <string>Photo library access required for saving images</string>
    </dict>
</plist>
